.thankyou-main{
    .top-contant{
        h1{
            font-size: 50px;
            font-weight: bold;
            line-height: 1.1;
            color: $black;
            padding: 40px 0px 55px;
            @media (max-width: $sm-large) {
            	font-size:35px;
	            padding:20px 0px 20px;
            }
        }
        p{
            max-width: 517px;
            margin: 0px auto;
        }
        a{
            margin: 25px auto 50px;
            display: inline-block;
            width: max-content;
        
        }
    }
    .thank_page_wrap{
        min-height: 215px;
        position: relative;
        border-radius: 14px;
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
        background-color: $white;
        max-width: 710px;
        width: 100%;
        text-align: center;
        padding: 26px 40px 20px 30px;
        margin: 0 auto;
        @media (max-width: $sm-large) {
            max-width:280px;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -40px;
        }
        h3{
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            margin-top: -60px;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #3a4a66;
            margin-bottom: 0;
        }
        h6{
            opacity: 0.5;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: center;
            color: #3a4a66;
        }
    }
}