@import "../style.scss";
@import "model.scss";

.user_details{
    .class_listing {
        background-color: #f4f6fa;
        border-radius: 14px;
        padding: 20px 30px 30px;
    }
}
.left_col ::-webkit-scrollbar{
    display:none;
}
.user_details{
    .listing-wrap {        
            > li{
                ul{
                    li{
                        cursor: pointer;
                        div{
                            font-size: 14px;
                            color: #3a4a66;
                            width: 164px;
                            text-align: center;
                            opacity: 1;
                            &.not_associated{
                               color: #ff4444; 
                            }
                            span{
                                opacity: 0.5;
                                color: #3a4a66;
                            }
                            img{
                                margin-right: 6px;
                            }
                            +div{
                                width: 100px;
                                +div{
                                    width: 118px;
                                    +div{
                                        width: 135px;      
                                        @media (max-width: 1199px) {
                                            width: 158px;
                                        }                  
                                    }
                                }
                            }
                            &:nth-child(2){
                                a{
                                    color:$blue;
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        width: 75%;
                                        height: 100%;
                                        right: 0;
                                        top: 0;
                                    }
                                }
                            }
                            &:last-child{
                                width: 225px;
                                a{
                                    font-size: 14px;
                                    font-weight: normal;
                                    color:$blue;
                                    margin: 0px 12.5px;
                                    opacity: 0;
                                    transition: none;
                                    @media (max-width: 1199px) {
                                        margin: 0px 5px;
                                    }
                                }
                            }
                        }
                        &:hover{
                            div{
                                &:last-child{
                                    a{                                       
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }           
        }
     }
}

