
/* Color */

$white: #fff;
$black: #3a4a66;
$blue: #00aaff;
$grey: #f9f9f9;

/* Font Typo */
$body-font: "Assistant", sans-serif;

/* Brack Points Typo */
$lg-large: 1199px;
$md-large: 991px;
$sm-large: 767px;
$sm-small: 575px;